<div class="flex justify-center items-center py-20">
  <div class="relative">
    <!-- Outer Ring -->
    <div class="w-16 h-16 border-4 border-mansory-light-gray rounded-full"></div>
    
    <!-- Spinning Ring -->
    <div class="absolute top-0 left-0 w-16 h-16 border-4 border-transparent border-t-mansory-gold rounded-full animate-spin"></div>
    
    <!-- Center Logo -->
    <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
      <div class="w-6 h-6 bg-mansory-gold rounded-full flex items-center justify-center">
        <span class="text-black text-xs font-bold">M</span>
      </div>
    </div>
  </div>
</div>